header{
    /* overflow: hidden;
    background-color: #f1f1f1;
    width: auto; */
    display:inline-block;
    margin: 0 auto;
  }

.img{
    display: block;
    width: 30%;
    height: 30%;
    margin: auto;
}

body{
    background: #eee;  
}  

th:nth-child(2) {
  padding-right: 20px;
  width: 1px;
  white-space: nowrap;
}

​td:nth-child(2) {
  padding-right: 20px;
  width: 1px;
  white-space: nowrap;
}

/* .fitwidth {
  width: 1px;
  white-space: nowrap;
} */

.btn{
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
}

.fnt{
  font-size: 12px;
}

.bfnt{
  font-size: 12;
  font-weight: bold;
}

.label-fnt{
  font-size: 11;
  font-weight: bold;
}

.selfnt{
  font-size:  11;;
}

.sfnt{
  font-size: 10;
}

.csfnt{
  font-size: 10;
  color: rgb(149, 22, 22);
}

.nolinebrake{
  margin-bottom: 0;
}

.full-width {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

.ssfnt{
  font-size: 8;
}

.id{
  width: 2%;
}

.title{
  width: 50%;
}

.sku{
  width: 10%;
}

.category{
  width: 10%;
}

.ean{
  width: 12%;;
}

.manufacturer{
  width: 10%;
}

footer{
    display:flex;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    border-top: 1px solid white;
    justify-content:center;
    align-items:center;
    }

    body{
        min-height:100vh;
     }
     
     .flex-fill{
        flex:1 1 auto;
     }

.center {
  display: flex;
  justify-content: center;
}

.searchdb {
  font-size: 11px;
}

/* button css */
.button {
  --width: 100px;
  --height: 25px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #7496b9;;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  font-size: 11px;
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #cfc4e1;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
